@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700;900&display=swap');

$default-font: 'Poppins', sans-serif;

$default-title-size: 2em;
$big-title-size: 2.5em;
$button-font-size: 1.5em;
